/* this CSS styling will change this is just as a placeholder */

.card {
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.card-image {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}

.card-content {
  margin-left: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-description {
  color: #666;
  margin-bottom: 10px;
}

.card-price {
  font-weight: bold;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-button,
.view-item-button {
  flex: 2;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
