.cart-container {
  text-align: center;
  padding: 20px;
}

.cart-header {
  color: #46211a;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.total-items {
  color: #46211a;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.return-to-products-button,
.checkout-button {
  background-color: #46211a;
  color: #f1d3b2;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.return-to-products-button:hover,
.checkout-button:hover {
  background-color: #a43820;
}
